<!DOCTYPE html>

<html>
<head>
	{{>imports}}

</head>
<body>
	{{>header}}
	<div class="container">
		<h1>About</h1>
		<h2>by {{name}}</h2>
		<div class="row">
			<div class="col-12">
				<p>This site was created by Ken Ng. It uses data from MapBox.com and WeatherStack.com</p>
			</div>
		</div>
	</div>
	{{>footer}}

</body>