<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
	{{>imports}}
	
</head>
<body>
	{{>header}}
	<div class="container">
		<div class="row">
			<div class="col-auto">
				<p style="margin-top: 25px; margin-bottom: 15px">How's the weather out there?</p>
			</div>
		</div>
		<form>
			<div class="row">
				<div class="col-auto">
					<label for="weatherLocation" class="col-form-label">Location</label>
				</div>
				<div class="col-auto">
					<input id="weatherLocation" class="form-control"/>
				</div>
				<div class="col-auto">
					<button class="btn btn-primary">What's the Weather?</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-12" id="loading-div" style="display:none; margin-top: 30px;">
				<p >Loading...</p>
			</div>
			<div id="weather-card" class="card" style="width: 18rem; margin-top: 30px; display:none">
			  	<img id="weather-image" src="..." class="card-img-top" alt="">
			  	<div class="card-body">
			  		<h5 class="card-title" id="weather-title">Card title</h5>
			    	<p id="weather-text" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  	</div>
			</div>
			<div id="weather-alert" class="alert alert-danger" role="alert" style='display:none; margin-top: 30px;'>
			  
			</div>
		</div>


	</div>
	{{>footer}}
	<script src="/js/app.js"></script>
</body>